// Color Pallete
// Primary -> 0, 100%, 32%
// $primary:  hsl(221, 44%, 19%);
$primary:  #09001e;
$light:  hsl(0, 0%, 96%);
$dark:  hsl(218, 58%, 4%);
$t-dark: #00000076;
$text-dark: hsl(0, 100%, 32%);
$background: hsla(0, 0%, 96%, 0.694);

$success: hsl(116, 46%, 50%);
$warning: hsl(46, 96%, 48%);
$danger: hsl(351, 81%, 27%);

// Viewport Sizes
$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 992px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

// Radius sizes
$none: 0;
$standard-r: 10px;
